node_modules
npm-debug.log
dist
db
Dockerfile
docker-compose.yml
Dockerfile.production
docker-compose.production.yml
.git
.gitignore
.dockerignore
.prettierrc
.eslintrc.js
LICENSE
VERSION
README.md
Makefile